{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }

    label {
        display: block;
        margin-top: 5px;
    }

    table {
        table-layout: fixed;
        border-collapse: collapse;
        border: 2px solid black;
        margin: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    td {
        padding: 5px;
    }

    tr:nth-child(even) { background-color: #D6EEEE; }
  </style>
{% endblock %}
{% block content %}
    <h1>Orders</h1>

    <form method="GET">
        <label for="nameSearchField">Order name:</label>
        <input id="nameSearchField" name="nameSearch" type="text"/>

        <label for="orderByField">Order results by:</label>
        <select id="orderByField" name="orderBy">
            <option value="1">Date placed</option>
            <option value="2">Total price</option>
        </select>
        
        <label for="maxResultsField">Maximum number of results:</label>
        <input id="maxResultsField" name="maxResults" type="number" value=10 min=0 max=100 />

        <input type="submit" value="Submit"/>
    </form>

    <table>
    <tr>
        <td><b>Order name</b></td>
        <td><b>Client</b></td>
        <td><b>Price</b></td>
        <td><b>Status</b></td>
    </tr>
    {% for order in orders %}
    <tr>
        <td><a href="/order/{{ order['orderID'] }}">{{ order["name"] }}</a></td>
        <td><a href="/client/{{ order['clientID'] }}">{{ order["clientName"] }}</a></td>
        <td>{{ formatCents(order['price']) }}</td>
        <td>{{ order["status"] }}</td>
    </tr>
    {% endfor %}
    </table>

    <br>
{% endblock %}
