{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }

    table {
        table-layout: fixed;
        border-collapse: collapse;
        border: 2px solid black;
        margin: 10px;
    }

    td {
        padding: 5px;
    }

    tr:nth-child(even) { background-color: #D6EEEE; }
  </style>
{% endblock %}
{% block content %}
    <h1>{{ order["name"] }}</h1>

    <span>Placed by: <a href="/client/{{ order['clientID'] }}">{{ order["clientName"] }}</a></span> <br>    
    <span>Placed on: {{ order["placed"] }}</span> <br>
    <span>Status: {{ order["status"] }}</span> <br>

    <table>
    <tr>
        <td>Item name</td>
        <td>Quantity</td>
        <td>Cost</td>
    </tr>
    {% for item in order["items"] %}
    <tr>
        <td><a href="/product/{{ item['productID'] }}">{{ item["name"] }}</a></td>
        <td>{{ item["quantity"] }}</td>
        <td>{{ item["price"] }}</td>
    </tr>
    {% endfor %}
    </table>

    <br>
{% endblock %}
